<section class="form" [formGroup]="signupForm">
    <div class="container">
        <div class="form-content">
            <h1 class="form-title common-title">Регистрация</h1>
            <div class="form-details">
                <div class="form-group" [ngStyle]="{'border-color': signupForm.get('name')?.invalid
                 && (signupForm.get('name')?.touched || signupForm.get('name')?.dirty) ? 'red' : ''}">
                    <input type="text" class="form-input"
                           formControlName="name"
                           id="name" required>
                    <label for="name" class="form-label">Имя</label>
                </div>
                <div class="form-group" [ngStyle]="{'border-color': signupForm.get('lastName')?.invalid
                 && (signupForm.get('lastName')?.touched || signupForm.get('lastName')?.dirty) ? 'red' : ''}">
                    <input type="text" class="form-input"
                           formControlName="lastName"
                           id="last-name" required>
                    <label for="last-name" class="form-label">Фамилия</label>
                </div>
                <div class="form-group" [ngStyle]="{'border-color': signupForm.get('email')?.invalid
                 && (signupForm.get('email')?.touched || signupForm.get('email')?.dirty) ? 'red' : ''}">
                    <input type="text" class="form-input"
                           formControlName="email"
                           id="email">
                    <label for="email" class="form-label">Электронная почта</label>
                </div>
                <div class="form-group" [ngStyle]="{'border-color': signupForm.get('password')?.invalid
                 && (signupForm.get('password')?.touched || signupForm.get('password')?.dirty) ? 'red' : ''}">
                    <input type="password" class="form-input"
                           formControlName="password"
                           id="password" required>
                    <label for="password" class="form-label">Пароль</label>
                </div>
                <div class="form-agree">
                    <input type="checkbox"
                           formControlName="agree"
                           id="agree" required>
                    <label for="agree">Я ознакомлен <a href="#">с правилами сайта</a></label>
                </div>
                <div class="form-button">
                    <button class="button" id="process" [disabled]="signupForm.invalid" (click)="signup()">Перейти к выбору теста</button>
                </div>
                <div class="form-link">Уже зарегистрированы? <a routerLink="/login">Войти</a></div>
            </div>
        </div>
        <div class="form-image">
            <img src="assets/img/info_image.png" alt="infoImage">
        </div>
    </div>
</section>
