@font-face {
  src: url('../fonts/museosanscyrl-500.ttf') format("ttf");
  font-family: 'Museo Sans Cyrl';
}
@font-face {
  src: url('../fonts/museosanscyrl-700.ttf') format("ttf");
  font-family: 'Museo Sans Cyrl Bold';
}