.header {
  padding: 42px 0 40px 0;
  border-bottom: 1px solid #dcdcf3;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .profile {
      display: flex;
      align-items: center;

      .profile-img {
        margin-right: 5px;
        cursor: pointer;
      }

      .profile-user {
        font-size: 18px;
        line-height: 18px;
      }

      .profile-logout {
        font-size: 12px;
        line-height: 12px;
      }
    }

  }
}